## Twitter_Project

### Importing modules

In [1]:
import pandas as pd
import numpy as np 
import wordcloud
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix,classification_report
import re
import string
import time
import emoji

### Data Preprocessing and analysis

In [2]:
df = pd.read_csv('training.1600000.processed.noemoticon.csv',names=['Sentiments','ID','Time','query','User','text'],encoding_errors='ignore')

In [3]:
df.tail()

,Sentiments,ID,Time,query,User,text
1599995,4,2193601966,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,AmandaMarie1028,Just woke up. Having no school is the best fee...
1599996,4,2193601969,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,TheWDBoards,TheWDB.com - Very cool to hear old Walt interv...
1599997,4,2193601991,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,bpbabe,Are you ready for your MoJo Makeover? Ask me f...
1599998,4,2193602064,Tue Jun 16 08:40:49 PDT 2009,NO_QUERY,tinydiamondz,Happy 38th Birthday to my boo of alll time!!! ...
1599999,4,2193602129,Tue Jun 16 08:40:50 PDT 2009,NO_QUERY,RyanTrevMorris,happy #charitytuesday @theNSPCC @SparksCharity...

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1600000 entries, 0 to 1599999
Data columns (total 6 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   Sentiments  1600000 non-null  int64
 1   ID          1600000 non-null  int64
 2   Time        1600000 non-null  object
 3   query       1600000 non-null  object
 4   User        1600000 non-null  object
 5   text        1600000 non-null  object
dtypes: int64(2), object(4)
memory usage: 73.2+ MB

In [5]:
df.drop('query',inplace=True,axis=1)

#### Removing tags and storing them

In [6]:
def find_tags(str1):
    temp = re.findall('@[a-zA-Z0-9._-]+\s', str1)
    ans=[]
    for i in temp:
        ans.append(i[:-1])
    return ans

In [7]:
df['tags'] = df['text'].apply(find_tags)

In [8]:
def remove_tags(str1):
    return re.sub('@[a-zA-Z0-9._-]+\s', '',str1)

In [9]:
df['text']  =df['text'].apply(remove_tags)

In [10]:
df['text']

0          http://twitpic.com/2y1zl - Awww, that's a bumm...
1          is upset that he can't update his Facebook by ...
2          I dived many times for the ball. Managed to sa...
3            my whole body feels itchy and like its on fire
4          no, it's not behaving at all. i'm mad. why am ...
                                 ...
1599995    Just woke up. Having no school is the best fee...
1599996    TheWDB.com - Very cool to hear old Walt interv...
1599997    Are you ready for your MoJo Makeover? Ask me f...
1599998    Happy 38th Birthday to my boo of alll time!!! ...
1599999                               happy #charitytuesday
Name: text, Length: 1600000, dtype: object

In [11]:
contractions = { 
"ain't": "am not",
"aren't": "are not",
"can't": "cannot",
"can't've": "cannot have",
"'cause": "because",
"could've": "could have",
"couldn't": "could not",
"couldn't've": "could not have",
"didn't": "did not",
"doesn't": "does not",
"don't": "do not",
"hadn't": "had not",
"hadn't've": "had not have",
"hasn't": "has not",
"haven't": "have not",
"he'd": "he had",
"he'd've": "he would have",
"he'll": "he will",
"he'll've": "he will have",
"he's": "he is",
"how'd": "how did",
"how'd'y": "how do you",
"how'll": "how will",
"how's": "how is",
"i'd": "i had",
"i'd've": "i would have",
"i'll": "i will",
"i'll've": "i will have",
"i'm": "i am",
"i've": "i have",
"isn't": "is not",
"it'd": "it had",
"it'd've": "it would have",
"it'll": "it will",
"it'll've": "it will have",
"it's": "it is",
"let's": "let us",
"ma'am": "madam",
"mayn't": "may not",
"might've": "might have",
"mightn't": "might not",
"mightn't've": "might not have",
"must've": "must have",
"mustn't": "must not",
"mustn't've": "must not have",
"needn't": "need not",
"needn't've": "need not have",
"o'clock": "of the clock",
"oughtn't": "ought not",
"oughtn't've": "ought not have",
"shan't": "shall not",
"sha'n't": "shall not",
"shan't've": "shall not have",
"she'd": "she would",
"she'd've": "she would have",
"she'll": "she will",
"she'll've": "she will have",
"she's": "she has / she is",
"should've": "should have",
"shouldn't": "should not",
"shouldn't've": "should not have",
"so've": "so have",
"so's": "so is",
"that'd": "that had",
"that'd've": "that would have",
"that's": "that is",
"there'd": "there had",
"there'd've": "there would have",
"there's": "there is",
"they'd": "they had",
"they'd've": "they would have",
"they'll": "they will",
"they'll've": "they will have",
"they're": "they are",
"they've": "they have",
"to've": "to have",
"wasn't": "was not",
"we'd": "we had",
"we'd've": "we would have",
"we'll": "we will",
"we'll've": "we will have",
"we're": "we are",
"we've": "we have",
"weren't": "were not",
"what'll": "what will",
"what'll've": "what will have",
"what're": "what are",
"what's": "what is",
"what've": "what have",
"when's": "when is",
"when've": "when have",
"where'd": "where did",
"where's": "where is",
"where've": "where have",
"who'll": "who will",
"who'll've": "who will have",
"who's": "who is",
"who've": "who have",
"why's": "why is",
"why've": "why have",
"will've": "will have",
"won't": "will not",
"won't've": "will not have",
"would've": "would have",
"wouldn't": "would not",
"wouldn't've": "would not have",
"y'all": "you all",
"y'all'd": "you all would",
"y'all'd've": "you all would have",
"y'all're": "you all are",
"y'all've": "you all have",
"you'd": "you had",
"you'd've": "you would have",
"you'll": "you will",
"you'll've": "you will have",
"you're": "you are",
"you've": "you have"
}

### Removing Contractions and lowercasing

In [12]:
def contract(text):
    text = text.lower()
    for i in contractions.keys():
        if i in text:
            text = re.sub(i,contractions[i],text)
    return text

In [13]:
df['text'] = df['text'].apply(contract)

In [14]:
df['text']

0          http://twitpic.com/2y1zl - awww, that is a bum...
1          is upset that he cannot update his facebook by...
2          i dived many times for the ball. managed to sa...
3            my whole body feels itchy and like its on fire
4          no, it is not behaving at all. i am mad. why a...
                                 ...
1599995    just woke up. having no school is the best fee...
1599996    thewdb.com - very cool to hear old walt interv...
1599997    are you ready for your mojo makeover? ask me f...
1599998    happy 38th birthday to my boo of alll time!!! ...
1599999                               happy #charitytuesday
Name: text, Length: 1600000, dtype: object

### Removing punctuations

In [15]:
def remove_punc(text):
    temp = [t for t in text if t not in string.punctuation]
    return "".join(temp)

In [16]:
df['text'] = df['text'].apply(remove_punc)

In [17]:
df.head()

,Sentiments,ID,Time,User,text,tags
0,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,_TheSpecialOne_,httptwitpiccom2y1zl awww that is a bummer yo...,[@switchfoot]
1,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,scotthamilton,is upset that he cannot update his facebook by...,[]
2,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,mattycus,i dived many times for the ball managed to sav...,[@Kenichan]
3,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,ElleCTF,my whole body feels itchy and like its on fire,[]
4,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,Karoli,no it is not behaving at all i am mad why am i...,[@nationwideclass]

### Removing unnecessary info

In [18]:
df.drop(['ID','Time','User'],inplace=True,axis=1)

In [19]:
df.head()

,Sentiments,text,tags
0,0,httptwitpiccom2y1zl awww that is a bummer yo...,[@switchfoot]
1,0,is upset that he cannot update his facebook by...,[]
2,0,i dived many times for the ball managed to sav...,[@Kenichan]
3,0,my whole body feels itchy and like its on fire,[]
4,0,no it is not behaving at all i am mad why am i...,[@nationwideclass]

In [20]:
df['tags']  = df['tags'].apply(len)

### Removing extra white spaces

In [21]:
def remove_white (text):
    return " ".join(text.split())

In [22]:
df['text'] = df['text'].apply(remove_white)

In [23]:
df.head()

   Sentiments                                               text  tags
0           0  httptwitpiccom2y1zl awww that is a bummer you ...     1
1           0  is upset that he cannot update his facebook by...     0
2           0  i dived many times for the ball managed to sav...     1
3           0     my whole body feels itchy and like its on fire     0
4           0  no it is not behaving at all i am mad why am i...     1

### Getting text length

In [24]:
df.tail(1)['text'] = "happy charity tuesday"

C:\Users\ASUS\anaconda3\lib\site-packages\pandas\core\frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [25]:
df['text_length']  = df['text'].apply(lambda x  : len(x.split()))

In [26]:
df.head()

,Sentiments,text,tags,text_length
0,0,httptwitpiccom2y1zl awww that is a bummer you ...,1,18
1,0,is upset that he cannot update his facebook by...,0,21
2,0,i dived many times for the ball managed to sav...,1,17
3,0,my whole body feels itchy and like its on fire,0,10
4,0,no it is not behaving at all i am mad why am i...,1,22

### Average word length

In [27]:
def word_length(text):
    c=0
    for i in text.split():
        c+=len(i)
    return c/(len(text.split())+1)

In [28]:
df['word_length']  = df['text'].apply(word_length)

### Creating a dictionary mapping every unique word to its count

In [29]:
word_count = {}

In [30]:
temp = " ".join(df['text'])

In [31]:
for i in temp.split():
    if i in word_count:
        word_count[i] +=1
    else:
        word_count[i] = 1

In [32]:
word_count

{'httptwitpiccom2y1zl': 1,
 'awww': 5272,
 'that': 162941,
 'is': 362841,
 'a': 377500,
 'bummer': 1442,
 'you': 298187,
 'shoulda': 348,
 'got': 60749,
 'david': 2279,
 'carr': 75,
 'of': 183704,
 'third': 816,
 'day': 82365,
 'to': 564506,
 'do': 114788,
 'it': 298244,
 'd': 5452,
 'upset': 2669,
 'he': 37507,
 'cannot': 47789,
 'update': 4257,
 'his': 15392,
 'facebook': 4215,
 'by': 25244,
 'texting': 729,
 'and': 298309,
 'might': 9638,
 'cry': 4408,
 'as': 38973,
 'result': 611,
 'school': 19709,
 'today': 64601,
 'also': 10265,
 'blah': 1464,
 'i': 931377,
 'dived': 3,
 'many': 8819,
 'times': 7652,
 'for': 215677,
 'the': 520295,
 'ball': 1263,
 'managed': 978,
 'save': 2193,
 '50': 1275,
 'rest': 5215,
 'go': 72910,
 'out': 80516,
 'bounds': 19,
 'my': 314026,
 'whole': 5960,
 'body': 2480,
 'feels': 5132,
 'itchy': 446,
 'like': 77745,
 'its': 43321,
 'on': 167073,
 'fire': 1503,
 'no': 73511,
 'not': 234670,
 'behaving': 68,
 'at': 111277,
 'all': 81903,
 'am': 182027,
 'mad': 3795,
 'why': 27559,
 'here': 35731,
 'because': 14111,
 'see': 45831,
 'over': 23036,
 'there': 44045,
 'crew': 648,
 'need': 35530,
 'hug': 2148,
 'hey': 18545,
 'long': 16720,
 'time': 56101,
 'yes': 17895,
 'rains': 547,
 'bit': 10830,
 'only': 27603,
 'lol': 55140,
 'fine': 4413,
 'thanks': 39312,
 'how': 42911,
 'nope': 2548,
 'they': 42369,
 'did': 45834,
 'have': 178803,
 'que': 562,
 'me': 160067,
 'muera': 1,
 'spring': 963,
 'break': 4385,
 'in': 214190,
 'plain': 408,
 'city': 3642,
 'snowing': 144,
 'just': 125049,
 'repierced': 15,
 'ears': 827,
 'could': 26740,
 'bear': 826,
 'watch': 15495,
 'thought': 10982,
 'ua': 21,
 'loss': 1015,
 'was': 109399,
 'embarrassing': 191,
 'counts': 232,
 'idk': 2380,
 'either': 5211,
 'never': 17643,
 'talk': 8127,
 'anymore': 6470,
 'would': 29931,
 'been': 33426,
 'first': 16533,
 'but': 127449,
 'gun': 292,
 'really': 49554,
 'though': 23447,
 'zac': 263,
 'snyders': 2,
 'doucheclown': 1,
 'wish': 27634,
 'with': 114850,
 'miss': 36099,
 'premiere': 362,
 'hollis': 6,
 'death': 1682,
 'scene': 677,
 'will': 100146,
 'hurt': 5104,
 'severely': 69,
 'film': 1880,
 'wry': 11,
 'directors': 43,
 'cut': 3487,
 'now': 90355,
 'about': 50206,
 'file': 513,
 'taxes': 133,
 'ahh': 3042,
 'ive': 3402,
 'always': 14739,
 'wanted': 7527,
 'rent': 538,
 'love': 63466,
 'soundtrack': 303,
 'oh': 37982,
 'dear': 3566,
 'were': 18647,
 'drinking': 2809,
 'forgotten': 512,
 'table': 823,
 'drinks': 1110,
 'most': 7770,
 'so': 150728,
 'get': 81482,
 'much': 36534,
 'done': 14962,
 'one': 52186,
 'friend': 10394,
 'called': 4227,
 'asked': 1831,
 'meet': 5293,
 'her': 30642,
 'mid': 309,
 'valley': 321,
 'todaybut': 92,
 'sigh': 3264,
 'baked': 365,
 'cake': 2359,
 'ated': 3,
 'this': 92973,
 'week': 20840,
 'going': 64087,
 'had': 59396,
 'hoped': 279,
 'blagh': 8,
 'class': 5784,
 '8': 4059,
 'tomorrow': 32695,
 'hate': 19586,
 'when': 38914,
 'call': 8231,
 'wake': 4325,
 'people': 19893,
 'up': 88456,
 'myself': 8893,
 'sleep': 26898,
 'after': 18630,
 'watching': 22527,
 'marley': 342,
 'im': 49318,
 'sad': 28581,
 'misslilly': 1,
 'ooooh': 394,
 'leslie': 83,
 'ok': 15291,
 'again': 29598,
 'meh': 741,
 'almost': 7733,
 'lover': 349,
 'exception': 117,
 'track': 1273,
 'gets': 4328,
 'depressed': 1324,
 'every': 6507,
 'some1': 256,
 'hacked': 344,
 'account': 2776,
 'aim': 712,
 'make': 24558,
 'new': 41995,
 'want': 42070,
 'promote': 214,
 'gear': 504,
 'groove': 102,
 'unfornately': 2,
 'ride': 3041,
 'may': 8107,
 'b': 4848,
 'anaheim': 64,
 'sleeping': 3976,
 'an': 35022,
 'option': 655,
 'realizing': 223,
 'evaluations': 9,
 'morning': 33145,
 'work': 62784,
 'afternoon': 3930,
 'awe': 769,
 'too': 64203,
 '1': 10070,
 'asian': 411,
 'eyes': 3442,
 'night': 41065,
 'sick': 15529,
 'spent': 2660,
 'hour': 7312,
 'sitting': 5248,
 'shower': 3920,
 'cause': 6215,
 'stand': 1378,
 'held': 319,
 'back': 55975,
 'puke': 192,
 'champ': 108,
 'bed': 21304,
 'ill': 6592,
 'tell': 10256,
 'ya': 9770,
 'story': 3087,
 'later': 9894,
 'good': 89388,
 'be': 112520,
 'workin': 952,
 'three': 2947,
 'more': 37452,
 'hours': 12890,
 'sorry': 25418,
 'came': 5959,
 'gmt1': 5,
 'httpisgdfnge': 1,
 'depressing': 1236,
 'think': 41044,
 'even': 18827,
 'know': 51194,
 'kids': 5788,
 'suitcases': 25,
 '812': 20,
 '123': 66,
 'gym': 3256,
 '35': 555,
 'or': 31050,
 '6': 4857,
 'then': 33510,
 '610': 39,
 'another': 14335,
 'gonna': 23505,
 'fly': 1781,
 'girlfriend': 904,
 'feel': 30010,
 'getting': 24139,
 'study': 3935,
 'tomorrows': 636,
 'practical': 121,
 'exam': 5692,
 'reason': 3397,
 'teardrops': 31,
 'guitar': 1865,
 'who': 17961,
 'has': 34358,
 'enough': 6688,
 'heart': 4739,
 'feeling': 14885,
 'wanna': 16452,
 'still': 42800,
 'soo': 5119,
 'finally': 11678,
 'comfortable': 291,
 'missed': 10856,
 'falling': 1359,
 'asleep': 4151,
 'heard': 4908,
 'tracy': 94,
 'girls': 5246,
 'being': 15858,
 'found': 8557,
 'breaks': 544,
 'family': 7398,
 'yay': 13199,
 'happy': 26390,
 'your': 64993,
 'job': 8369,
 'means': 3681,
 'less': 3233,
 'checked': 1263,
 'user': 454,
 'timeline': 164,
 'blackberry': 1508,
 'looks': 10258,
 'twanking': 1,
 'happening': 1254,
 'are': 111606,
 'ppl': 3417,
 'having': 15921,
 'probs': 617,
 'w': 6355,
 'bgs': 25,
 'uids': 1,
 'manwas': 1,
 'ironing': 278,
 'jeancjumbes': 1,
 'fave': 1137,
 'top': 3470,
 'wear': 2470,
 'meeting': 3320,
 'burnt': 1445,
 'strangely': 113,
 'lilo': 22,
 'samro': 1,
 'breaking': 1024,
 'before': 12846,
 'retweeting': 175,
 'broadband': 209,
 'plan': 2793,
 'massive': 847,
 'broken': 3023,
 'promise': 1243,
 'httptinyurlcomdcuc33': 1,
 'via': 3000,
 'wwwdiigocomtautao': 1,
 'waiting': 9593,
 'we': 62446,
 'wow': 10365,
 'tons': 809,
 'replies': 706,
 'from': 55996,
 'unfollow': 381,
 'can': 46950,
 'friends': 14708,
 'tweets': 6160,
 'scrolling': 53,
 'feed': 990,
 'lot': 9063,
 'our': 15147,
 'duck': 309,
 'chicken': 2134,
 'taking': 5850,
 'wayyy': 199,
 'hatch': 31,
 'put': 8152,
 'vacation': 2441,
 'photos': 2323,
 'online': 4529,
 'few': 9183,
 'yrs': 707,
 'ago': 5208,
 'pc': 1609,
 'crashed': 806,
 'forget': 2928,
 'name': 5490,
 'site': 4033,
 'sure': 14731,
 'what': 57689,
 'pos': 61,
 'dont': 18147,
 'trade': 389,
 'away': 11966,
 'company': 1862,
 'assets': 29,
 'andy': 809,
 'happens': 2004,
 'dallas': 682,
 'show': 15886,
 'gotta': 8931,
 'say': 16179,
 'shows': 2463,
 'use': 7775,
 'music': 8550,
 'game': 9302,
 'mmm': 1398,
 'ugh92': 1,
 'degrees': 953,
 'where': 14645,
 'u': 52768,
 'move': 3763,
 'already': 14508,
 'sd': 305,
 'hmmm': 1794,
 'random': 1854,
 'glad': 10380,
 'hear': 9953,
 'yer': 420,
 'doing': 15980,
 'well': 40905,
 'ps3': 521,
 'commission': 96,
 'wutcha': 4,
 'playing': 7253,
 'copped': 24,
 'blood': 1620,
 'sand': 297,
 'leaving': 5263,
 'parking': 560,
 'life': 15102,
 'cool': 14060,
 'sadly': 2385,
 'gotten': 1238,
 'experience': 1220,
 'post': 5274,
 'coitus': 1,
 'cigarette': 143,
 'such': 9091,
 'nice': 23051,
 'bad': 26751,
 'rain': 10497,
 'comes': 3526,
 '5am': 644,
 'around': 8917,
 'lost': 11235,
 'pay': 4166,
 'phone': 13060,
 'bill': 1020,
 'lmao': 4109,
 'aw': 4130,
 'shucks': 195,
 'damm': 109,
 'mo': 908,
 'jobs': 776,
 'money': 6138,
 'hell': 5286,
 'min': 1439,
 'wage': 41,
 '4': 15853,
 'fn': 88,
 'clams': 14,
 'forever': 2453,
 'soon': 17329,
 'agreed': 712,
 'saw': 9825,
 'failwhale': 20,
 'allllll': 90,
 'haha': 30311,
 'dude': 4123,
 'look': 13091,
 'em': 2705,
 'unless': 1226,
 'someone': 10971,
 'says': 5893,
 'added': 1203,
 'terrible': 1882,
 'pop': 1049,
 'right': 27306,
 'start': 10404,
 'working': 16500,
 'nikster': 1,
 'jared': 217,
 'least': 7979,
 'diss': 54,
 'bands': 590,
 'trace': 167,
 'clearly': 555,
 'ugly': 1026,
 'attire': 40,
 'puma': 31,
 'singlet': 10,
 'adidas': 39,
 'shortsand': 1,
 'black': 2853,
 'business': 1969,
 'socks': 439,
 'leather': 203,
 'shoes': 2184,
 'lucky': 4155,
 'run': 5065,
 'into': 11300,
 'any': 15050,
 'cute': 7580,
 'location': 402,
 'httptwitpiccom2y2es': 1,
 'picnic': 575,
 'smells': 712,
 'citrus': 26,
 'donkey': 90,
 'sensitive': 140,
 'comments': 1026,
 'nevertheless': 65,
 'med': 166,
 'mug': 224,
 'asap': 853,
 'charger': 579,
 'awol': 30,
 'csi': 242,
 'tonight': 24775,
 'fml': 1711,
 'arms': 794,
 'sore': 3778,
 'tennis': 813,
 'wonders': 500,
 'unhappy': 332,
 'split': 369,
 'seccond': 2,
 'saying': 3059,
 'bye': 3735,
 'ur': 12918,
 'newsletter': 140,
 'those': 9834,
 'fares': 23,
 'unbelievable': 162,
 'shame': 2496,
 'booked': 626,
 'paid': 1384,
 'mine': 6538,
 'missin': 714,
 'boo': 4816,
 'itm': 8,
 'damn': 11132,
 'chalk': 53,
 'chalkboard': 9,
 'useless': 418,
 'blast': 1285,
 'getty': 27,
 'villa': 59,
 'hates': 2101,
 'she': 28741,
 'throat': 2938,
 'worse': 2744,
 'sup': 220,
 'mama': 1079,
 'tummy': 2240,
 'hurts': 7495,
 'wonder': 2766,
 'if': 42976,
 'hypnosis': 15,
 'anything': 7976,
 'stop': 7849,
 'smoking': 454,
 'fat': 1656,
 'ones': 3673,
 'babe': 2048,
 'fam': 1537,
 'annoys': 100,
 'thankfully': 332,
 'muahaha': 50,
 'evil': 989,
 'laugh': 2021,
 'should': 23872,
 'attention': 866,
 'covered': 629,
 'photoshop': 450,
 'webpage': 67,
 'design': 1226,
 'undergrad': 29,
 'wednesday': 2048,
 'bday': 3704,
 '2': 37936,
 'poor': 7927,
 'cameron': 114,
 'hills': 1423,
 'pray': 1472,
 'please': 16009,
 'ex': 622,
 'threatening': 61,
 'sh': 71,
 'myour': 2,
 'babies': 955,
 '1st': 2940,
 'birthday': 10179,
 'party': 9493,
 'jerk': 358,
 'headache': 5554,
 'hmm': 2694,
 'enjoy': 7351,
 'him': 19132,
 'problems': 1619,
 'constants': 4,
 'things': 11436,
 'find': 14115,
 'ulike': 3,
 'strider': 2,
 'little': 16784,
 'puppy': 1539,
 'httpappsfacebookcomdogbookprofileview5248435': 1,
 'ryleegracewana': 1,
 'steves': 35,
 'since': 9305,
 'easter': 381,
 'wnt': 161,
 'able': 5431,
 'ohh': 1768,
 'actually': 9845,
 'won': 3561,
 'bracket': 34,
 'pools': 87,
 'follow': 11160,
 'nite': 3274,
 'favorite': 4087,
 'teams': 243,
 'astros': 38,
 'spartans': 14,
 'lose': 1933,
 'tw': 53,
 'missing': 8066,
 'northern': 176,
 'calif': 20,
 'girl': 9896,
 'police': 440,
 'remains': 112,
 'california': 806,
 'httptrimimji': 1,
 'hope': 33057,
 'increase': 147,
 'capacity': 89,
 'fast': 3012,
 'yesterday': 8985,
 'pain': 4393,
 'fail': 3654,
 'whale': 233,
 '15': 2349,
 'behind': 1997,
 'classes': 1517,
 'quothousequot': 17,
 'remember': 4931,
 'bum': 495,
 'leg': 1292,
 'strikes': 131,
 'serious': 1677,
 'their': 8436,
 'kinds': 334,
 'complaints': 97,
 'laptop': 3486,
 'overheating': 33,
 'recalls': 6,
 'emily': 441,
 'mommy': 1602,
 'training': 1494,
 'misses': 1262,
 'httpappsfacebookcomdogbookprofileview6176014': 1,
 'rather': 2735,
 'send': 5215,
 'messages': 1178,
 'than': 14427,
 '3rd': 1255,
 'mixed': 429,
 'sophmore': 17,
 'year': 10515,
 'overrated': 125,
 'wondered': 206,
 'same': 10756,
 'thing': 14471,
 'moscow': 71,
 'laying': 1520,
 'voice': 2387,
 'sooo': 6110,
 'killed': 1313,
 'off': 36138,
 'kutner': 31,
 'house': 12576,
 'whyyyyyyyy': 14,
 'them': 24390,
 'mea': 23,
 'culpa': 8,
 'sense': 1295,
 'suicide': 178,
 'refuse': 273,
 'believe': 7280,
 'happened': 3671,
 'grind': 303,
 'inspirational': 138,
 'saddening': 40,
 'cuz': 4963,
 'yeah': 21322,
 'wudnt': 45,
 'chance': 2782,
 'ugh': 9165,
 'cant': 17497,
 '130am': 43,
 'hanging': 2577,
 'crooners': 5,
 'sing': 1688,
 'sucks': 10623,
 'aaw': 83,
 'bh': 47,
 'quotmorningquot': 10,
 'aww': 8054,
 'beach': 5657,
 'pissed': 1651,
 'asbas': 1,
 'radio': 2163,
 'station': 1126,
 'n': 9562,
 'flipped': 75,
 'upside': 302,
 'down': 18113,
 'head': 8388,
 'some': 45326,
 'ramen': 159,
 'sounds': 8610,
 'sides': 167,
 'mention': 1433,
 'crying': 2273,
 'made': 13628,
 'late': 8929,
 'snack': 371,
 'glass': 1117,
 'oj': 125,
 'bc': 1986,
 'quotdown': 10,
 'sicknessquot': 3,
 'sleepugh': 4,
 'big': 10940,
 'fan': 3913,
 'camilla': 51,
 'belle': 114,
 'wah': 399,
 'clip': 384,
 'must': 8455,
 'elstupido': 1,
 'filters': 43,
 'wait': 21861,
 'till': 7883,
 'puter': 76,
 'something': 13904,
 'else': 5175,
 'blame': 913,
 'broke': 4279,
 'seems': 5029,
 'longer': 2720,
 'terms': 246,
 'cold': 8264,
 'ehhh': 110,
 'weathers': 257,
 'take': 16856,
 'turn': 3130,
 'cooooold': 14,
 'incredible': 551,
 'stuff': 9646,
 'hoping': 3778,
 'rumbles': 9,
 'notice': 926,
 'told': 4488,
 'agency': 133,
 'said': 9475,
 'bedtime': 690,
 'alive': 1073,
 'yawwwnn': 1,
 'tired': 15644,
 'imma': 1040,
 'try': 10378,
 'hopefully': 5570,
 'headstart': 6,
 'aghsnow': 1,
 'kenny': 180,
 'powers': 233,
 'thank': 17598,
 'letting': 1067,
 'direct': 911,
 'message': 2473,
 'bridget': 74,
 'india': 511,
 '100th': 203,
 'test': 3234,
 'victory': 206,
 '10th': 286,
 'consecutive': 44,
 'win': 6085,
 'without': 7155,
 'guess': 11172,
 'stephan': 16,
 'leavin': 313,
 'intending': 9,
 'finish': 3717,
 'editing': 682,
 '536page': 1,
 'novel': 237,
 'manuscript': 16,
 'probably': 6452,
 'happen': 3373,
 '12': 3468,
 'pages': 827,
 'left': 11256,
 'laid': 362,
 'read': 8290,
 '9thamp10th': 1,
 'princess': 638,
 'diaries': 54,
 'saving': 568,
 'francesca': 16,
 'end': 7299,
 'easy': 2684,
 'books': 2137,
 'nokia': 317,
 '1110': 12,
 'died': 3693,
 'mom': 7868,
 'breast': 143,
 'cancer': 746,
 'worried': 1724,
 'better': 22816,
 'understood': 181,
 'daylight': 105,
 'savings': 100,
 'ended': 1603,
 'breakfast': 4380,
 'keep': 11105,
 'waking': 1977,
 'lame': 2049,
 'understand': 2876,
 'heroes': 360,
 'season': 4185,
 'living': 2068,
 'downtown': 755,
 'fun': 27919,
 'calorie': 47,
 'wise': 387,
 'junk': 369,
 'food': 7342,
 'free': 7411,
 'ate': 3194,
 'sour': 267,
 'skittles': 129,
 'ass': 4107,
 'cherry': 411,
 'coke': 664,
 'man': 13091,
 'hard': 9471,
 'hot': 10663,
 'tea': 3370,
 'studying': 3314,
 'sleeeep': 110,
 'eyebrows': 157,
 'waxed': 46,
 'phantasy': 1,
 'star': 2776,
 'macheist': 13,
 '30': 3985,
 'apps': 861,
 'sweet': 6988,
 'espresso': 153,
 'serial': 90,
 'although': 1909,
 'sent': 2925,
 'picked': 1130,
 'mich': 64,
 'st': 1146,
 'pretty': 12466,
 'pick': 2805,
 'way': 24031,
 'untiltonight': 2,
 'alone': 4904,
 'downstairsworking': 1,
 'anoop': 90,
 'mean': 7471,
 'seriously': 4281,
 'kinda': 5791,
 'sprint': 250,
 '4g': 19,
 'baltimore': 153,
 'chicago': 1317,
 'far': 7531,
 'stuck': 4919,
 'awake': 4463,
 'middle': 1478,
 'second': 3145,
 'row': 1150,
 'felt': 2228,
 'bursting': 35,
 'bubble': 406,
 'gosh': 1710,
 'page': 2991,
 'sooooo': 1581,
 'until': 9302,
 'deleted': 833,
 'history': 1776,
 'crazy': 5543,
 'wind': 736,
 'birding': 5,
 'httpffim1xtti': 1,
 'currently': 1766,
 'grrr': 924,
 'ipods': 94,
 'acting': 817,
 'weird': 3307,
 'jai': 87,
 'ho': 522,
 'thinking': 7123,
 'full': 5141,
 'songs': 3347,
 'ughh': 875,
 'dvd': 1610,
 'cos': 2107,
 'heaps': 342,
 'deal': 1773,
 'website': 2492,
 'through': 6587,
 'therapyfail': 1,
 'rail': 74,
 'other': 10348,
 'tips': 651,
 'swear': 1072,
 'losing': 1282,
 'gaining': 89,
 'tweeps': 1254,
 'wrenching': 21,
 'realized': 2017,
 'hiding': 429,
 'staying': 1833,
 'househouse': 1,
 'neighbors': 465,
 'loudhaving': 1,
 'danny': 1136,
 'wasnt': 1409,
 'live': 10133,
 'chat': 2330,
 'car': 8614,
 '3': 15007,
 'trip': 4851,
 'soooo': 3759,
 'check': 8441,
 'httpwwwerikaobscurablogspotcom': 1,
 'borders': 144,
 'closed': 1653,
 '10': 5665,
 'downloading': 753,
 'nins': 12,
 'album': 3538,
 'quotthe': 1417,
 'slipquot': 2,
 'come': 24747,
 'these': 6766,
 'days': 18922,
 'woke': 7932,
 'written': 605,
 'email': 3995,
 'early': 11453,
 'university': 424,
 'teach': 750,
 '830': 332,
 'hill': 776,
 'making': 8263,
 'channels': 274,
 'yet': 12913,
 'boring': 4298,
 'lazy': 2487,
 'hobby': 134,
 'buddy': 1346,
 'ny': 1457,
 '25th': 194,
 'french': 2078,
 'south': 1367,
 'qtr': 13,
 'snarl': 4,
 'beautiful': 8340,
 'opps': 90,
 'remain': 174,
 'problem': 3710,
 'activated': 76,
 'selfcontrol': 10,
 'block': 999,
 'meaning': 484,
 'qc': 59,
 'regularizing': 1,
 'internal': 120,
 'clock': 889,
 'difficult': 969,
 'fb': 3199,
 'spencer': 211,
 'guy': 5362,
 'reese': 42,
 'dying': 1774,
 'ttsc': 1,
 'finale': 1133,
 'next': 18472,
 '24': 1309,
 'madame': 34,
 'president': 238,
 ...}

### Removing words with low count

In [33]:
df['text_split'] = df['text'].apply(lambda x  : x.split())

In [34]:
def low_count_remover(text):
    temp=[]
    for i in text:
        if word_count[i] !=1:
            temp.append(i)
    return temp

In [35]:
df['text_split']  = df['text_split'].apply(low_count_remover)

In [36]:
df['text_split']

0          [awww, that, is, a, bummer, you, shoulda, got,...
1          [is, upset, that, he, cannot, update, his, fac...
2          [i, dived, many, times, for, the, ball, manage...
3          [my, whole, body, feels, itchy, and, like, its...
4          [no, it, is, not, behaving, at, all, i, am, ma...
                                 ...
1599995    [just, woke, up, having, no, school, is, the, ...
1599996     [very, cool, to, hear, old, walt, interviews, ♫]
1599997    [are, you, ready, for, your, mojo, makeover, a...
1599998    [happy, 38th, birthday, to, my, boo, of, alll,...
1599999                            [happy, charity, tuesday]
Name: text_split, Length: 1600000, dtype: object

### DeEmojify text

In [37]:
def deEmojify(text):
    temp=[]
    for i in text:
        temp.append(i.encode('ascii', 'ignore').decode('ascii'))
    temp1=[j for j in temp if len(j)!=0]
    return temp1

In [38]:
df['text_split'] = df['text_split'].apply(deEmojify)

### Lemmatization

In [39]:
from textblob import Word

In [40]:
def lemma(text):
    temp=[]
    for i in text:
        u = Word(i)
        temp.append(u.lemmatize())
    return temp

In [41]:
%%time
df['text_split'] = df['text_split'].apply(lemma)

Wall time: 1min 28s

### Dictionary mapping each word to a unique integer

In [42]:
from nltk.corpus import stopwords

In [43]:
word2int = {}

In [44]:
temp = []
for i in df['text_split']:
    temp.extend(i)

In [45]:
cr = 0
for j in temp:
    if j not in word2int:
        word2int[j] = cr
        cr+=1

In [46]:
df['text2int']  = df['text_split'].apply(lambda x : [word2int[t] for t in x ])

In [47]:
df['text_length'] = df['text2int'].apply(lambda x: len(x))

### Reverse Dictionary

In [48]:
int2word ={}
for i,j in word2int.items():
    int2word[j] = i

### Padding and forming X and y

In [49]:
from tensorflow.keras.preprocessing.sequence import pad_sequences

In [50]:
X = []
for i in df['text2int']:
    X.append(i)

In [51]:
X = pad_sequences(X , maxlen=120,padding='post',truncating='post')

In [52]:
y = df['Sentiments']

In [53]:
def converter(x):
    if x==4:
        return 1
    else:
        return 0

In [54]:
y = y.apply(converter)

### Embedding

#### Glove Vectors

In [55]:
file = open('glove.twitter.27B.200d.txt' ,encoding='utf-8')

In [56]:
glove_vectors={}
for line in file:
    values = line.split()
    word = values[0]
    vector = np.asarray(values[1:])
    glove_vectors[word] = vector
file.close()

In [57]:
## Getting vectors for our vocab

In [58]:
%%time
word_vector = np.zeros((len(word2int),200))
for word,index in word2int.items():
    if glove_vectors.get(word) is not None:
        word_vector[index] = np.asarray(glove_vectors.get(word))

Wall time: 15.4 s

### Creating Model

In [59]:
X_train , X_test , y_train , y_test = train_test_split(X,y,test_size=0.3,random_state=42,stratify=y)

In [60]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,Conv1D,GlobalAvgPool1D,Embedding,MaxPool1D,LSTM

In [67]:
model = Sequential()
model.add(Embedding(len(word2int) , 200 ,input_length = 120 , weights = [word_vector] ,trainable=False  ))
model.add(Conv1D(128,8,activation='relu'))
model.add(MaxPool1D(2))
model.add(Dropout(0.5))
model.add(Dense(32,activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(16,activation='relu'))
model.add(GlobalAvgPool1D())
model.add(Dense(1,activation='sigmoid'))
model.compile(optimizer='adam' , loss='binary_crossentropy' , metrics=['accuracy'])

In [68]:
model.fit(X_train,y_train,validation_data=(X_test,y_test),epochs=7)

Epoch 1/7
35000/35000 [==============================] - 202s 6ms/step - loss: 0.4882 - accuracy: 0.7710 - val_loss: 0.5171 - val_accuracy: 0.7397
Epoch 2/7
35000/35000 [==============================] - 202s 6ms/step - loss: 0.4572 - accuracy: 0.7903 - val_loss: 0.5112 - val_accuracy: 0.7540
Epoch 3/7
35000/35000 [==============================] - 199s 6ms/step - loss: 0.4467 - accuracy: 0.7965 - val_loss: 0.4910 - val_accuracy: 0.7896
Epoch 4/7
35000/35000 [==============================] - 195s 6ms/step - loss: 0.4396 - accuracy: 0.8005 - val_loss: 0.4897 - val_accuracy: 0.7809
Epoch 5/7
35000/35000 [==============================] - 195s 6ms/step - loss: 0.4349 - accuracy: 0.8029 - val_loss: 0.4831 - val_accuracy: 0.7874
Epoch 6/7
35000/35000 [==============================] - 231s 7ms/step - loss: 0.4311 - accuracy: 0.8054 - val_loss: 0.4837 - val_accuracy: 0.7831
Epoch 7/7
35000/35000 [==============================] - 196s 6ms/step - loss: 0.4274 - accuracy: 0.8074 - val_loss: 0.4891 - val_accuracy: 0.7768

In [69]:
def Sentiment(text):
    text = remove_tags(text)
    text = contract(text)
    text = remove_punc(text)
    text = remove_white(text)
    text = text.split()
    text = deEmojify(text)
    text = lemma(text)
    temp=[]
    for i in text:
        if i in word2int:
            temp.append(word2int[i])
    while len(temp)!=120:
        temp.append(0)
    if model.predict_classes([temp]) ==[[1]]:
        print(emoji.emojize("\U0001f970"))
    else:
        print('\U0001f97a')

In [73]:
Sentiment("You're welcome")

🥰